.cart {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__item {
    margin-right: 20px;
  }

  &__title {
    max-width: 200px;
  }

  &__img {
    width: 100px;
  }

  &__price {
    font-size: 22px;
  }

  &__qty {
    font-size: 30px;
    padding: 10px;
  }

  &__btn {
    font-size: 30px;
  }
}
