.cart {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  margin: 30px;
  justify-content: space-around;

  @media (max-width: 701px) {
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    padding-bottom: 10px;
    flex-direction: column;
  }

  &__item {
    margin-right: 20px;
  }

  &__title {
    max-width: 200px;

    @media (max-width: 701px) {
      max-width: none;
    }
  }

  &__img {
    width: 100px;
    @media (max-width: 701px) {
      width: 200px;
    }
  }

  &__price {
    font-size: 22px;
  }

  &__qty {
    font-size: 30px;
    padding: 10px;
  }

  &__btn {
    font-size: 30px;
  }
}
